<%- model_class = Attachment -%>



<!--<div class="container"></div>-->


<!--<div class="fieldset"> <div class="mark">-->
  <!--<%=  readfile.html_safe %>-->
<!--</div>-->
<!--</div>-->


<div class="container">
  <%= link_to email_path(@attachment.email), :class => 'btn btn-default' do %>
      Back
  <%- end -%>
  <div class="row">
    <div class=" blog-main">
      <div class="container">
        <div class='row'>
          <div class='col-md-8 panel' ></div>
        </div>
      </div>



      <div class="fieldset_attachement">
        <div class="email-text">
          <%= readfile.gsub(/\n/, '<br/>').html_safe %>
        </div>
      </div>
    </div>

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">

    </div>

  </div>

  <!--<div>-->
    <!--<%= readfile.gsub(/\n/, '<br/>').html_safe %>-->

  <!--</div>-->
</div>
